<div class="grid">
    <div class="col-12">
        <div [style]="{ width: '851px' }">
            <!-- <p-toast></p-toast> -->
            <p-toolbar styleClass="mb-4">
                <h3 [style]="{
                    'color':'#35353A','font-size':'26px','font-family':'Poppins','font-weight':'700'}">My Tickets</h3>
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New Tickets" class="p-button-warning"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>

            </p-toolbar>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 851px; height: 12px;">
                <p-card [style]="{
                    'font-size': '20px',
                    'font-family': 'Inter',
                    'font-weight': '500',
                    'color': 'var(--gray-900, #202020)',
                    'line-height': '28px',
                    'box-shadow': '0px 4px 8px 0px rgba(0, 0, 0, 0.10)',
                    'margin-bottom': '12px'
                  }">
                    <header style="display: flex; justify-content: space-between;">
                        <h2 [style]="{
                            'font-size': '20px',
                            'font-family': 'Inter',
                            'font-weight': '500',
                            'color': ' var(--gray-900, #202020)',
                            'line-height': '28px',
                            
                          }">Issu with finding task</h2>
                        <p [style]="{
                        'font-size': '16px',
                        'font-family': 'Inter',
                        'font-weight': '500',
                        'color': ' var(--gray-900, #202020)',
                        'line-height': '24px',
                        
                      }">20.Oct.2023</p>
                    </header>
                    <p [style]="{
                      'font-size': '14px',
                      'font-family': 'Inter',
                      'width': '727px',
                      'color': 'var(--gray-900, #202020)',
                      'line-height': '20px',
                      'flex-direction': 'column',
                      'display': 'flex',
                      'gap': '10px',
                      'flex': '1 0 0',
                      'align-self': 'stretch',
                    }">
                        Life seasons open have. Air have of. Lights fill after let third darkness replenish have of.
                        Lights fill af....
                    </p>
                    <ng-template pTemplate="footer">
                        <div [style]="{
                        'display':'flex','align-self':'stretch','padding':'10px','align-items':'center','flex':'1 0 0','gap':'16px'
                    }">
                            <p-button label="Others" [style]="{
                        'font-size':'16px','font-family':'Poppins','font-weight':'500','color':'#35353A',
                        'background':' #00000'
                    }"></p-button>
                            <p-button label="Open" [style]="{'border-radius':'50px' ,'border':'1px solid #72CA6B',
                        'background':' #F7FFF6','color':'#72CA6B',
                        'font-size':'14px','font-family':'Inter','font-weight':'500','line-height':'16px',
                        'display':'flex','height':'23px','padding':'2px 8px','align-items':'center','gap':'4px'
                    }"></p-button>
                            <p-button label="Mid"
                                [style]="{
                        'border-radius':'50px' ,'border':'1px solid #B06F40',
                        'background':' #FAEBE6','color':'#576EE7',
                        'font-size':'14px','font-family':'Inter','font-weight':'500','line-height':'16px',
                        'display':'flex','width':'62px','height':'23px','justify-content':'center','padding':'2px 8px','align-items':'center','gap':'4px'}">
                            </p-button>
                            <p-button label="#EE234" [style]="{'border-radius':'50px' ,'border':'1px solid #93A1EB',
                        'background':' #DEE4FF','color':'#576EE7',
                        'font-size':'14px','font-family':'Inter','font-weight':'500','line-height':'16px',
                        'display':'flex','height':'23px','padding':'2px 8px','align-items':'center','gap':'4px'
                    }"></p-button>
                        </div>
                        
                    </ng-template>
                </p-card>
                <p-card [style]="{
                    'font-size': '20px',
                    'font-family': 'Inter',
                    'font-weight': '500',
                    'color': 'var(--gray-900, #202020)',
                    'line-height': '28px',
                    'box-shadow': '0px 4px 8px 0px rgba(0, 0, 0, 0.10)',
                    'margin-bottom': '12px'
                  }">
                    <header style="display: flex; justify-content: space-between;">
                        <h2 [style]="{
                            'font-size': '20px',
                            'font-family': 'Inter',
                            'font-weight': '500',
                            'color': ' var(--gray-900, #202020)',
                            'line-height': '28px',
                            
                          }">Issu with finding task</h2>
                        <p [style]="{
                        'font-size': '16px',
                        'font-family': 'Inter',
                        'font-weight': '500',
                        'color': ' var(--gray-900, #202020)',
                        'line-height': '24px',
                        
                      }">10.Ma.2023</p>
                    </header>
                    <p [style]="{
                      'font-size': '14px',
                      'font-family': 'Inter',
                      'width': '727px',
                      'color': 'var(--gray-900, #202020)',
                      'line-height': '20px',
                      'flex-direction': 'column',
                      'display': 'flex',
                      'gap': '10px',
                      'flex': '1 0 0',
                      'align-self': 'stretch',
                      
                    }">
                        Life seasons open have. Air have of. Lights fill after let third darkness replenish have of.
                        Lights fill af....
                    </p>
                    <ng-template pTemplate="footer">
                        <div [style]="{
                        'display':'flex','align-self':'stretch','padding':'10px','align-items':'center','flex':'1 0 0','gap':'16px'
                    }">
                            <p-button label="Hardware" [style]="{
                        'font-size':'16px','font-family':'Poppins','font-weight':'500','color':'#35353A',
                        'background':' #00000'
                    }"></p-button>
                            <p-button label="Open" [style]="{'border-radius':'50px' ,'border':'1px solid #72CA6B',
                        'background':' #F7FFF6','color':'#72CA6B',
                        'font-size':'14px','font-family':'Inter','font-weight':'500','line-height':'16px',
                        'display':'flex','height':'23px','padding':'2px 8px','align-items':'center','gap':'4px'
                    }"></p-button>
                            <p-button label="#EE234" [style]="{'border-radius':'50px' ,'border':'1px solid #93A1EB',
                        'background':' #DEE4FF','color':'#576EE7',
                        'font-size':'14px','font-family':'Inter','font-weight':'500','line-height':'16px',
                        'display':'flex','height':'23px','padding':'2px 8px','align-items':'center','gap':'4px'
                    }"></p-button>
                        </div>
                        
                    </ng-template>
                </p-card>
                <p-card [style]="{
                    'font-size': '20px',
                    'font-family': 'Inter',
                    'font-weight': '500',
                    'color': 'var(--gray-900, #202020)',
                    'line-height': '28px',
                    'box-shadow': '0px 4px 8px 0px rgba(0, 0, 0, 0.10)',
                    'margin-bottom': '12px'
                  }">
                    <header style="display: flex; justify-content: space-between;">
                        <h2 [style]="{
                            'font-size': '20px',
                            'font-family': 'Inter',
                            'font-weight': '500',
                            'color': ' var(--gray-900, #202020)',
                            'line-height': '28px',
                            
                          }">Issu with finding task</h2>
                        <p [style]="{
                        'font-size': '16px',
                        'font-family': 'Inter',
                        'font-weight': '500',
                        'color': ' var(--gray-900, #202020)',
                        'line-height': '24px',
                        
                      }">10.Ma.2023</p>
                    </header>
                    <p [style]="{
                      'font-size': '14px',
                      'font-family': 'Inter',
                      'width': '727px',
                      'color': 'var(--gray-900, #202020)',
                      'line-height': '20px',
                      'flex-direction': 'column',
                      'display': 'flex',
                      'gap': '10px',
                      'flex': '1 0 0',
                      'align-self': 'stretch',
                      
                    }">
                        Life seasons open have. Air have of. Lights fill after let third darkness replenish have of.
                        Lights fill af....
                    </p>
                    <ng-template pTemplate="footer">
                        <div [style]="{
                        'display':'flex','align-self':'stretch','padding':'10px','align-items':'center','flex':'1 0 0','gap':'16px'
                    }">
                            <p-button label="closed" [style]="{
                                'border-radius':'50px' ,'border':'1px solid #949494',
                                'background':' #ECECEC','color':'#000',
                                'font-size':'14px','font-family':'Inter','font-weight':'500','line-height':'16px',
                                'display':'flex','height':'23px','padding':'2px 8px','align-items':'center','gap':'4px'
                    }"></p-button>
                            <p-button label="Urgent" [style]="{'border-radius':'50px' ,'border':'1px solid  var(--danger-border, #E2A1A1)',
                        'background':'var(--danger-second, #F9F2F2)','color':'var(--danger-main, #BA1717)',
                        'font-size':'14px','font-family':'Inter','font-weight':'500','line-height':'16px',
                        'display':'flex','height':'23px','padding':'2px 8px','align-items':'center','gap':'4px'
                    }"></p-button>
                            <p-button label="#EE234" [style]="{'border-radius':'50px' ,'border':'1px solid #93A1EB',
                        'background':' #DEE4FF','color':'#576EE7',
                        'font-size':'14px','font-family':'Inter','font-weight':'500','line-height':'16px',
                        'display':'flex','height':'23px','padding':'2px 8px','align-items':'center','gap':'4px'
                    }"></p-button>
                        </div>
                        
                    </ng-template>
                </p-card>
                <p-card [style]="{
                    'font-size': '20px',
                    'font-family': 'Inter',
                    'font-weight': '500',
                    'color': 'var(--gray-900, #202020)',
                    'line-height': '28px',
                    'box-shadow': '0px 4px 8px 0px rgba(0, 0, 0, 0.10)',
                    'margin-bottom': '12px'
                  }">
                    <header style="display: flex; justify-content: space-between;">
                        <h2 [style]="{
                            'font-size': '20px',
                            'font-family': 'Inter',
                            'font-weight': '500',
                            'color': ' var(--gray-900, #202020)',
                            'line-height': '28px',
                            
                          }">Issu with finding task</h2>
                        <p [style]="{
                        'font-size': '16px',
                        'font-family': 'Inter',
                        'font-weight': '500',
                        'color': ' var(--gray-900, #202020)',
                        'line-height': '24px',
                        
                      }">20.Oct.2023</p>
                    </header>
                    <p [style]="{
                      'font-size': '14px',
                      'font-family': 'Inter',
                      'width': '727px',
                      'color': 'var(--gray-900, #202020)',
                      'line-height': '20px',
                      'flex-direction': 'column',
                      'display': 'flex',
                      'gap': '10px',
                      'flex': '1 0 0',
                      'align-self': 'stretch',
                      
                    }">
                        Life seasons open have. Air have of. Lights fill after let third darkness replenish have of.
                        Lights fill af....
                    </p>
                    <ng-template pTemplate="footer">
                        <div [style]="{
                        'display':'flex','align-self':'stretch','padding':'10px','align-items':'center','flex':'1 0 0','gap':'16px'
                    }">
                    <p-button label="Software" [style]="{
                        'font-size':'16px','font-family':'Poppins','font-weight':'500','color':'#35353A',
                        'background':' #00000'
                    }"></p-button>
                            <p-button label="Open" [style]="{'border-radius':'50px' ,'border':'1px solid #72CA6B',
                        'background':' #F7FFF6','color':'#72CA6B',
                        'font-size':'14px','font-family':'Inter','font-weight':'500','line-height':'16px',
                        'display':'flex','height':'23px','padding':'2px 8px','align-items':'center','gap':'4px'
                    }"></p-button>
                            <p-button label="Low"
                                [style]="{
                        'border-radius':'50px' ,'border':'1px solid #FFD366',
                        'background':' #FFF6DF','color':'#D6A120',
                        'font-size':'14px','font-family':'Inter','font-weight':'500','line-height':'16px',
                        'display':'flex','width':'62px','height':'23px','justify-content':'center','padding':'2px 8px','align-items':'center','gap':'4px'}">
                            </p-button>
                            <p-button label="#EE234" [style]="{'border-radius':'50px' ,'border':'1px solid #93A1EB',
                        'background':' #DEE4FF','color':'#576EE7',
                        'font-size':'14px','font-family':'Inter','font-weight':'500','line-height':'16px',
                        'display':'flex','height':'23px','padding':'2px 8px','align-items':'center','gap':'4px'
                    }"></p-button>
                        </div>
                        
                    </ng-template>
                </p-card>
            </div>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150"
                    class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">
                <div class="field mt-3">
                    <label for="inputtext">Requester</label>
                    <input type="text" id="inputtext" pInputText required rows="3" cols="20">
                </div>
                <div class="field mt-3">
                    <label for="inputtext">Subject</label>
                    <input type="text" id="inputtext" pInputText>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3"
                        cols="20"></textarea>
                </div>
                <div class="field">
                    <label for="status">Urgency</label>
                    <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" optionValue="label"
                        [options]="statuses" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="product && product.inventoryStatus"
                                [class]="'product-badge status-' + product.inventoryStatus.toString().toLowerCase()">{{product.inventoryStatus}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field">
                    <label for="category">Category:</label>
                    <p-dropdown id="category" name="category" [(ngModel)]="product.category">
                        <option value="Accessories">Accessories</option>
                        <option value="Clothing">Clothing</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Fitness">Fitness</option>
                    </p-dropdown>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Price</label>
                        <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD"
                            locale="en-US"></p-inputNumber>
                    </div>
                    <div class="field col">
                        <label for="quantity">Quantity</label>
                        <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>